	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
		<head>
			<meta name="description" content="The Banker Chicken helps yours and your friends financial problem">
			<meta name="keywords" content="Financial problem,thebankerchicken,the, banker, chicken, debts app, debts program">
			<meta name="author" content="Canadian Stripper Chicken">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta property="og:description" content="The Banker Chicken helps you with yours and your friends financial problem">
			<meta property="og:title" content="The Banker Chicken">
			<meta property="og:description" content="The Banker Chicken helps yours and your friends financial problem">
			<meta property="og:type" content="website">
			<meta property="og:url" content="http://thebankerchicken.com">
			
			<title>The Banker Chicken</title> 
		
			<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
			<link href="{{STATIC_URL}}css/other.css" rel="stylesheet" type="text/css">
			<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="{{STATIC_URL}}css/bootstrap-theme.css" rel="stylesheet" type="text/css">
			<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

			<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
			<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
			
		</head>

	<body>
	<div id="outerHolder">
	<div id="innerHolder">
	<div id="tableHolder">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><p class="text-center">Name</p></th>
					<th><p class="text-center">Total debt</p></th>
					<th><p class="text-center">Action</p></th>
				</tr>
			</thead>
		<tbody>
			<tr>
				<td><p class="text-center">Caio</p></td>
				<td><p class="text-center">o toba</p></td>
				<td> 
					<form id="formCaio" class="form-inline">
						<div class="input-prepend">
	 					<span class="add-on">$CAD</span>
	  					<input class="span2" id="appendedPrependedInput" type="text">
	  					<button type="submit" class="btn btn-primary" type="button">Add</button>
			</div>
		</form>
	</td>
		</tr>
	<tr>
			<td><p class="text-center">Tonho</p></td>
			<td><p class="text-center">o butico</p></td>
	<td> 
		<form id="formCaio" class="form-inline">
			<div class="input-prepend">
	 			<span class="add-on">$CAD</span>
	  			<input class="span2" id="appendedPrependedInput" type="text">
	  			<button type="submit" class="btn btn-primary" type="button">Add</button>
			</div>
		</form>
	</td>
		</tr>
	<tr>
			<td><p class="text-center">Sotero, o gostoso</p></td>
			<td><p class="text-center">nada e nunca deverá</p></td>
	<td> 
		<form id="formSotero" class="form-inline">
			<div class="input-prepend">
	 			<span class="add-on">$CAD</span>
	  			<input class="span2" id="appendedPrependedInput" type="text">
	  			<button type="submit"  class="btn btn-primary" type="button">Add</button>
			</div>
		</form>
	</td>
		</tr>

	</tbody>
	</table>
	</div>
	</div>
	</div>
		</body>
	</html>
